#next {
  position:fixed;
  right:45%;
  bottom:0;
}
.card {
  min-height: 85vh;
}
#why {
  position:fixed;
  bottom:0;
}
#close {
  position:fixed;
  bottom:15px;
  right:45%;
}
#refresh {
  position:fixed;
  bottom:0;

}
.header {
    padding-top: 45vh;
}
.wrapper {
  min-height: 95vh;
}
.btn {
  margin:auto;
  margin-bottom: 50px;
}
